<div class="container">

  <div class="ans-style">
    <div class="row">
      <div class="col-xs-12">
        <h3> <%= @question %> </h3>
        <h6>- You</h6>
      </div>
    </div>
  </div>

  <div class="ans-style">
    <div class="row">
      <div class="col-xs-12">
        <h3> <%= @answer %> </h3>
        <h6>- Coach</h6>
      </div>
    </div>
  </div>

</div>

<div class="text-center">
  <div class="btn btn-bib">
    <%= link_to "Ask another question", "/pages/ask" %>
  </div>
</div>
