
<div class="container">
  <div class="text-center">
  <br>
  <br>
  <br>
  <h1>Speak to your coach</h1>
    <form action="/pages/answer" method="get">
      <div class="form-group">
      <input type="text" name="query" class="form-control" placeholder="Ask a question">
      </div>
      <button class="btn btn-primary btn-lg" type="submit">Submit</button>
    </form>
  </div>
</div>
